@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  
  --breakpoint-3x1: 1920px;
  --color-primary: #875cf5;
}

@layer base {
  html {
    font-family: "helvetica", sans-serif;
  }


body{
  background-color:#fcfbfc;
  overflow-x:hidden;
}

} 

.input-box{
   @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}