@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  
  --breakpoint-3x1: 1920px;
  --color-primary: #2DD4BF;
}

@layer base {
  html {
    font-family: "helvetica", sans-serif;
  }


body{
  background-color:#0b0f14;
  color:#e2e8f0;
  overflow-x:hidden;
}

} 

@layer components {
  .input-box {
    @apply w-full flex justify-between gap-3 text-sm text-slate-100 bg-slate-800 rounded px-4 py-3 mb-4 mt-3 border border-slate-700 outline-none;
  }

  .card {
    @apply bg-slate-900 p-6 rounded-2xl shadow-md shadow-black/20 border border-slate-800/60;
  }
  
  .card-btn {
     @apply flex items-center gap-2 text-sm text-gray-500 hover:text-black transition-colors;
  }
}